.main {
}
.offer {
    background-image: url('../images/graphics/offer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0 10px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        span:first-child {
            background-color: $color2;
        }
    }

    &__text {
        text-align: center;
        min-width: 300px;  
        background-color: #c926ff;
        padding: 3px 9px;
        font-family: Myraid Pro, Arial, Helvetica, sans-serif;
        font-size: rem(50);
        letter-spacing: .02em;
        line-height: rem(50);
        font-weight: 700;
        text-transform: uppercase;
        font-weight: 400;
        color: #ffffff;
        border-radius: 12px;
        margin-top: 25px;
        box-shadow: 1px 1px 20px #c926ffb7;

    }

    &__companies {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img {
            height: 80px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__discount {
        margin-top: rem(169);
        font-family: 'A Avante Bs';
        color: #664c00;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        min-width: initial;
        max-width: 305px;
        width: 100%;
        text-align: center;
        background-color: $color2;
        padding: 6px 2px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: initial;
        display: block;
        text-decoration: none;
    }
}

.how-work {

    &__title {
    }

    &__video {
        border-radius: 14px;
        border: 10px solid $color1;
        padding-bottom: 0;
        background-color: $color1;
        max-width: 843px;
        width: 100%;
        height: 530px;
        margin: 0 auto;
        box-shadow: 0 0 15px $color1;
    }

    &__video iframe {
        width: 100%;
        height: 512px;
    }
}

.advantages {

    &__title {
        font-size: rem(90);
        letter-spacing: 0.01em;
    }

    &__items {
    }

    &__item {
    }

    &__item-icon {
    }

    &__item-title {
    }

    &__item-text {
        text-transform: uppercase;
    }
}

.price {

    &__title {
    }

    &__items {
    }

    &__item {
        border: 2px solid #cdcdd4;
        &:nth-child(3) {
            padding: 9px 0;
            .price__item-title {
                font-size: 26px;
            }
        }
    }

    &__item-icon {
    }

    &__item-title {
        height: 100%;
    }

    &__item-btn {
    }

    &__item-price {
    }
}
.reviews {

    &__title {
    }

    &__items {
    }

    &__item {
        padding-bottom: 16px;
    }

    &__item-icon {
    }

    &__item-title {line-height: 31px;
        font-weight: 700;
        color: #515466;
    }

    &__item-text {
        font-size: 16px;
        line-height: 17px;
        font-weight: 400;
    }
}
.access {
    padding-bottom: 28px;
    &__title {
    }

    &__form {
        max-width: 487px;
        width: 100%;
        background-color: #fff;
        padding: 34px 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 14px;
        box-shadow: 2px 2px 5px #c3c3c3 inset;
        position: relative;
        &::after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 14px;
            box-shadow: 2px 2px 5px #c3c3c3;
            pointer-events: none;
        }
    }

    &__form-input {
        width: 100%;
    }

    &__form-input-icon {
    }

    &__form-checkbox {
    }

    &__form-btn {
        max-width: 181px;
    }
}
.questions {

    &__title {
    }

    &__form {
        background-color: #fff;
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 10px;
        border-radius: 14px;
    }

    &__form-input {
        width: 100%;
    }

    &__form-textarea {
    }

    &__form-checkbox {
        color: $color1;
        display: flex;
        align-items: center;
    }

    &__btns {
        display: flex;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__form-btn {
        max-width: 181px;
        margin: 0;
    }
}

